.Headline {
    text-align: center; 
}

.columns {
    display: flex;
}

.col {
    text-align: center;
    flex: 1 1 0%;
}

.card {
    display: flex;
    flex-direction: column;
    padding: auto;
    margin: auto;
}

.card-title {
    text-align: center;
}

.card-img {
    margin: 5%;
    max-width: 90%;
    border: 3px;
    border-style: solid;
    border-radius: .8rem;
}

.caption {
    text-align: left;
    margin: 10px;
}
